* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #f1f1f1;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

nav ul li a:hover, nav ul li a.active {
  background-color: #d32f2f;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 28px;
  color: #333;
}

header p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.add-icon, .check-icon {
  font-weight: bold;
  color: #f44336;
}

.search-bar {
  margin-top: 20px;
  display: flex;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #d32f2f;
}

.movie-container {
  width: 100%;
  display: flex;
  grid-auto-rows: auto;
  background: linear-gradient(45deg, rgb(243, 84, 84), rgb(57, 3, 183));
  filter: drop-shadow(15px 8px 16px rgb(135, 132, 132));
  color: #fff;;
  display: flex;
  flex-direction: row;
 
}

.movie-item {
  background-color: #f1f1f1;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  width: 180px;
}

.movie-item img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.movie-item p {
  font-size: 16px;
  color: #333;
}
